body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}

.logcontainer {
    margin: 100px auto;
    padding: 20px;
    width: 300px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input, button {
    display: block;
    width: 100%;
    margin: 10px -5px;
    padding: 3px;
    align-items: center;
}

button {
    background: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 1px;
}

button:hover {
    background: #218838;
}
